#container{
	background-color:#8C8C8C;
	width:1200px; height:800px;
	padding:15px;
	border-radius: 20px 20px 20px 20px;
}

#header{
	background-color:#FFE400;
	height:200px;
	margin:10px;
	padding-top: 50px
}

#left{
	background-color:#F29661;
	width:350px; height:500px;
	float:left;
	margin:10px;
}

#center{
	background-color:#8C8C8C;
	width:350px; height:500px;
	float:left;
	margin:10px;
}

#right{
	background-color:#8C8C8C;
	width:400px; height:500px;
	float:left;
	border:0;
}