#container{
	background-color:rgb(221, 175, 204);
	width:600px;
	height:440px;
	padding:10px;
	border-radius:10px;
}

#header{
	background-color: yellow;
	height: 80px;
	text-align:center;
	padding-top: 50px;
}

#side{
	background-color: green;
	float: left;
	margin: 10px;
	
}

#side2{
	background-color: red;
	float:left;
	
}

#side3{
	background-color: blue;
	float:right;
	
}
