#container{
	background-color: #66ccff;
	width:500px;
	padding: 10px;
}

#header{
	background-color: #d9d9d9;
	height: 100px;
}

#side{
	background-color: #b3b3b3;
	float: left;
	width: 150px;
	height: 300px;
}

#content{
	background-color: #FFFFFF;
	float: left;
	width: 350px;
	height: 300px;
}

#footer{
	background-color: #0099FF;
	clear: left;
	height: 100px;
}