div {
	margin: 5px;
	font-family: helvetica;
	font-size: 22px;
}

#container {
	background-color: #f6f6f6;
	width: 50%;
	padding: 10px;	
	border-radius: 10px 10px 10px 10px;
}

#preview {	
	text-align: center;
	width: 100%;
	height: 25%;
	padding-bottom: 50px;
	clear: both
}

#item {
	background-color: #5ad9a9;
	color: #808080; 
	text-align: center;
	width: 30%;
	height: 50px;
	padding-top: 20px;
	margin-left: 10px;
	float: left;
}

#footer	 {
	width: 100%;
	height: 0%;
	clear: both;
}